.inputSearchBlock {
  width: 100%;
  display: flex;
  position: relative;
}

.inputSearch {
  z-index: 10;
  color: black;
  height: 30px;
  width: 100%;
  padding: 0 11px;
  outline: none;
  border: none;
  font-family: inherit;
  border-radius: 8px;
}
.inputSearchBtn {
  position: absolute;
  top: 0;
  right: 0;
}

.container {
  min-width: 100%;
  font-size: 11px;
}
.title {
  color: white;
  list-style: none;
  margin-left: 5px;
}
