.container {
  width: 100%;
  max-width: 1460px;
  margin: 0 auto;
  height: 750px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.carousel {
  width: 100%;
  height: 578px;
  position: relative;
  overflow: hidden;
}

.carousel_mobile {
  width: 100%;
  height: 578px;
  position: relative;
  overflow: hidden;
  display: none;
}

.card {
  position: absolute;
  transition: all 0.5s;
  left: 22%;
}

.hiddenleft {
  transform: translateX(-150%) scale(0.5);
}

.left {
  transform: translateX(-79%) scale(0.65) rotate(-11.45deg);
}

.left:hover {
  cursor: pointer;
}

.left:focus {
  cursor: pointer;
}

.left:focus-within {
  cursor: pointer;
}

.active {
  transform: rotate(-1.9deg);
  z-index: 3;
}

.right {
  transform: translateX(86%) scale(0.7) rotate(5.71deg);
  z-index: 2;
}

.right:hover {
  cursor: pointer;
}

.right:focus {
  cursor: pointer;
}

.right:focus-within {
  cursor: pointer;
}

.rightmost {
  transform: translateX(150%) scale(0.55) rotate(-1.42deg);
  z-index: 1;
}

.rightmost:hover {
  cursor: pointer;
}

.rightmost:focus {
  cursor: pointer;
}

.rightmost:focus-within {
  cursor: pointer;
}

.hiddenright {
  transform: translateX(215%) scale(0.4) rotate(1.45deg);
}

.slider_pagination {
  width: 250px;
  height: 23px;
  display: none;
  position: absolute;
  bottom: 25px;
}

.slider_pagination ul {
  width: 100%;
  height: 23px;
  display: flex;
  justify-content: space-between;
  list-style: none;
}

.pagination_li {
  font-family: 'Montserrat Alternates';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  /* identical to box height */

  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;

  color: rgba(255, 255, 255, 0.46);
}

.pagination_li:hover {
  cursor: pointer;
}

/* .slider_pagination ul li:nth-child(5) {
  display: none;
}

.slider_pagination ul li:nth-child(6) {
  display: none;
}

.slider_pagination ul li:nth-child(7) {
  display: none;
}

.slider_pagination ul li:nth-child(8) {
  display: none;
} */

.active_li {
  font-family: 'Montserrat Alternates';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  /* identical to box height */

  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;

  color: white;
}

/* Screen size: 1000px */
@media screen and (max-width: 1000px) {
  .container {
    height: 700px;
  }

  .card {
    left: 20%;
  }

  .left {
    transform: translateX(-75%) scale(0.55) rotate(-11.45deg);
  }

  .active {
    transform: rotate(-1.9deg) scale(0.9);
    z-index: 3;
  }

  .right {
    transform: translateX(77%) scale(0.6) rotate(5.71deg);
    z-index: 2;
  }

  .rightmost {
    transform: translateX(120%) scale(0.4) rotate(1.45deg);
  }
}

/* Screen size: 700px */
@media screen and (max-width: 700px) {
  .container {
    height: 550px;
  }

  .left {
    transform: translateX(-65%) scale(0.45) rotate(-11.45deg);
  }

  .active {
    left: 50%;
    transform: rotate(-1.9deg) scale(0.7) translateX(-70%);
    z-index: 3;
  }

  .right {
    transform: translateX(53%) scale(0.5) rotate(5.71deg);
    z-index: 2;
  }
}

@media screen and (max-width: 600px) {
  .container {
    height: 590px;
  }

  .left {
    transform: translateX(-100%) scale(0.45) rotate(-11.45deg);
  }

  .active {
    left: 50%;
    transform: rotate(-1.9deg) scale(0.7) translateX(-70%);
    z-index: 3;
  }

  .right {
    transform: translateX(90%) scale(0.5) rotate(5.71deg);
    z-index: 2;
  }

  .carousel {
    display: none;
  }

  .carousel_mobile {
    display: block;
  }

  .slider_pagination {
    display: block;
  }

  .hiddenleft {
    display: none;
  }

  .hiddenright {
    display: none;
  }
}

/* Background effects */
.ellipse_deco_1 {
  position: absolute;
  width: 412px;
  height: 412px;
  left: 57px;
  top: 147px;

  background: radial-gradient(
      50% 50% at 50% 50%,
      #3970ff 0%,
      rgba(202, 246, 255, 0) 100%
    )
    /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
  opacity: 0.3;
  z-index: -1;
}

.ellipse_deco_2 {
  position: absolute;
  width: 336px;
  height: 336px;
  left: 144px;
  top: 468px;

  background: radial-gradient(
      50% 50% at 50% 50%,
      rgba(57, 112, 255, 0.5) 0%,
      rgba(202, 246, 255, 0) 100%
    )
    /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
  opacity: 0.5;
}

/* Swiper container */
.swiper_container {
  display: none;
  width: 500px;
  height: 600px;
  background-color: #3970ff;
}
