.paperComponent {
  top: -8%;
  position: absolute;
  width: 100%;
  mix-blend-mode: normal;
}
.backgroundPaper {
  position: relative;
  width: 105%;
  height: 1150px;
  mix-blend-mode: screen;
}

.photoDiv {
  position: absolute;
  left: 6%;
  top: 175px;
}
.h1p {
  color: black;
  left: 86px;
  position: relative;
}

/* Bottom part */
.bottom {
  position: relative;
  top: 70px;
  left: 5%;
}
.hp {
  position: relative;
  color: black;
  left: 86px;
  top: 40px;
}
.top {
  left: 5%;
  top: 50px;
  position: relative;
}

.fr1 {
  position: absolute;
  top: 12%;
  left: 2%;
  transform: rotate(-1.5deg);
  mix-blend-mode: screen;
}
.fr2 {
  position: absolute;
  top: 27px;
  left: 35%;
  transform: rotate(1.6deg);
  mix-blend-mode: screen;
}
.fr3 {
  position: absolute;
  top: 12%;
  left: 68%;
  transform: rotate(1.2deg);
  mix-blend-mode: screen;
}

.frame1 {
  transform: rotate(-1.38deg);
}
.frame2 {
  transform: rotate(1.53deg);
}
.frame3 {
  transform: rotate(1.38deg);
}
.topMobile,
.bottomMobile {
  display: none;
}
@media only screen and (max-width: 1000px) {
  .backgroundPaper {
    height: 950px;
  }
}
@media only screen and (max-width: 800px) {
  .topWeb,
  .bottomWeb {
    display: none;
  }

  .topMobile,
  .bottomMobile {
    display: block;
    text-align: center;
    padding-top: 5%;
  }
  .backgroundPaper {
    height: 1160px;
  }
}
@media only screen and (max-width: 500px) {
  .topWeb,
  .bottomWeb {
    display: none;
  }
  .topMobile,
  .bottomMobile {
    display: block;
    text-align: center;
    padding-top: 5%;
  }
  .backgroundPaper {
    height: 900px;
  }
  .photoPaste {
    position: absolute;
    top: 70px;
    left: 85px;
    mix-blend-mode: screen;
  }
}

/*  bottomWeb*/
/* topWeb */

/* topMobile */
