.videoPlayerSection {
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../../../../assets/videoPage/videoPlayerBg.png");
  background-color: #000000;
  position: relative;
  top: 0;
  left: 0;
  z-index: 1;
}
/*.sliderContainer {*/
/*  width: 90%;*/
/*  max-width: none;*/
/*  margin: 0 auto;*/
/*}*/

iframe {
  z-index: 4;
}
.videoPlayer {
  width: 100%;
  padding: 180px 0 0 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.calendar {
  position: absolute;
  top: 59px;
  right: 63px;
  cursor: pointer;
  width: 105px;
  height: 100px;
  background: url("../../../../assets/icons/calendar-icon.svg") no-repeat center;
}

.sliderBlock {
  max-width: 1400px;
  margin: 100px auto 0;
  /*padding: 0 2%;*/
}
.title {
  font-size: 2em;
  padding: 0 12%;
  margin-bottom: 40px;
}
.slider {
  width: 100% !important;
}

@media screen and (max-width: 1075px) {
  .title {
    font-size: 1.5em;
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 480px) {
  .title {
    margin-bottom: 20px;
  }
}
