.videoPlayerSection {
  position: relative;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../../../../assets/videoPage/videoPlayerBg.png");
  background-color: #000000;
  top: 0;
  left: 0;
  z-index: 1;
  color: #ffffff;
}

iframe {
  z-index: 4;
}
/*.videoPlayerBlock {*/
/*  width: 90%;*/
/*  margin: 0 auto;*/
/*}*/

.videoPlayer {
  width: 100%;
  padding: 180px 20px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.calendar {
  position: absolute;
  top: 59px;
  right: 63px;
  cursor: pointer;
  width: 105px;
  height: 100px;
  border-radius: 50%;
  z-index: 20;
  background: url("../../../../assets/icons/calendar-icon.svg") no-repeat center;
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(8px);
}
.stars {
  position: absolute;
  top: 32%;
  right: 15%;
  width: 150px;
  height: 120px;
  background: url("../../../../assets/videoPage/videPlayerStars.png") no-repeat
    center;
}
.star {
  position: absolute;
  top: 2.5%;
  left: 15%;
  width: 300px;
  height: 300px;

  background: url("../../../../assets/videoPage/videoPlayerStar.png") no-repeat
    center;
}

.sliderBlock {
  max-width: 1400px;
  margin: 100px auto 0;
}
.title {
  font-size: 2em;
  padding: 0 12%;
  margin-bottom: 40px;
}
.slider {
  width: 100% !important;
}

@media screen and (max-width: 1075px) {
  .title {
    font-size: 1.5em;
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 768px) {
  .videoPlayer {
    padding-top: 35%;
  }
  iframe {
    width: 100%;
    height: 300px;
  }
  .sliderBlock {
    margin: 60px auto 0;
  }
  .star {
    display: none;
  }
  .stars {
    top: 32%;
    right: 5%;
  }
  .videoPlayer {
    margin-bottom: 120px;
  }
}
@media screen and (max-width: 480px) {
  .title {
    margin-bottom: 20px;
  }
  iframe {
    width: 100%;
    height: 200px;
  }
  .calendar {
    right: 40px;
  }
  .stars {
    top: 26%;
    right: 1%;
  }
}
