.card {
  width: 630.34px;
  height: 354.38px;
  position: absolute;
  filter: drop-shadow(0px 5px 5px rgba(0, 0, 0, 0.25));
  position: relative;
}

.cardBackground {
  width: 100%;
  background-size: cover;
  position: absolute;
  height: auto;
}

.card_content_container {
  width: 292.5px;
  height: 233px;
  top: 1px;
  position: absolute;
}

.cardContentBackgroundPhoto {
  width: 100%;
  height: auto;
  position: absolute;
  top: 47px;
  left: 14px;
}

.card_content {
  position: absolute;
  top: 79px;
  left: 40px;
  z-index: 2;
  width: 90%;
  height: 70%;
  color: white;
}

.card_content_title {
  font-style: normal;
  font-weight: 800;
  font-size: 20px;
  line-height: 26px;
  margin-bottom: 33px;
}

.card_content_info {
  height: 97px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card_content_info img {
  width: 13.4px;
  height: 16px;
  margin-right: 7.4px;
}

.photoOfBar {
  width: 296px;
  height: 243px;
  position: absolute;
  top: 47px;
  right: 23px;
}

.blackWhitePhoto {
  width: 598px;
  height: 237px;
  position: absolute;
  top: 49px;
  left: 12px;
}

.blackWhitePhoto img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.7;
}
