.container {
  background: url("../../assets/contactsPage/back.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  min-height: 700px;
  color: white;
  font-family: "Montserrat Alternates";
}

.mainDiv {
  max-width: 1150px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding-top: 60px;
}

.text_block {
  max-width: 400px;
  width: 100%;
  padding-top: 25px;
  margin-left: 180px;
}
.aboutText {
  position: relative;
}
.aboutText h1 {
  position: absolute;
  top: 40px;
  left: 40px;
  font-size: 28px;
  color: #ffb03b;
}

.information div {
  margin-top: 20px;
}

.information a {
  font-size: 18px;
  margin-left: 15px;
  cursor: pointer;
  color: white;
}
.information a:hover {
  border-bottom: 1px solid gray;
}

.allImages {
  display: grid;
  grid-template-columns: 1.5fr 0.5fr;
  grid-template-rows: 1.5fr repeat(3, 1fr) 0.1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;

  max-width: 500px;
  width: 100%;
  margin-left: -8%;
}

.smallImageFrame {
  max-width: 120px;
  max-height: 100px;
  margin-left: -46%;
  mix-blend-mode: luminosity;
  position: relative;
}
.imageFrame {
  position: relative;
}

.imageFrame:nth-child(1) {
  grid-area: 1 / 1 / 6 / 2;
  max-width: 658px;
  width: 100%;
}
.imageFrame:nth-child(2) {
  grid-area: 2 / 2 / 3 / 3;
}
.imageFrame:nth-child(3) {
  grid-area: 3 / 2 / 4 / 3;
}
.imageFrame:nth-child(4) {
  grid-area: 4 / 2 / 5 / 3;
}

.smallImage {
  position: absolute;
  transition: 0.5s;
}
.imageFrame:nth-child(1) :last-child {
  top: 20.5%;
  left: 27.5%;
  transform: rotate(0.4deg);
  max-width: 352px;
  max-height: 340px;
  width: 100%;
  height: 100%;
}
.imageFrame:nth-child(2) :last-child {
  top: 18.5%;
  left: -32%;
  transform: rotate(-2.96deg);

  width: 78px;
  height: 48px;
}
.imageFrame:nth-child(3) :last-child {
  top: 17%;
  left: -32%;
  transform: rotate(0.07deg);
  width: 80px;
  height: 50px;
}
.imageFrame:nth-child(4) :last-child {
  top: 16%;
  left: -33%;
  width: 83px;
  height: 52px;

  transform: rotate(2.97deg);
}

.text_responsive {
  display: none;
}

.tape {
  position: absolute;
  left: 15%;
  top: 7%;
  mix-blend-mode: luminosity;
}

@media (max-width: 1074px) {
  .mainDiv {
    display: block;
    margin: 0 auto;
  }
  .image_block {
    display: flex;
    justify-content: center;
  }

  .text_block {
    max-width: 700px;
    width: 100%;

    margin: 0 auto;
    padding: 25px 20px;
  }
  .text_responsive {
    display: block;
    max-width: 700px;
    width: 100%;

    margin: 0 auto;
    padding: 25px 20px;
  }
  .text_block_desktop {
    display: none;
  }

  .allImages {
    margin-left: -30%;
  }
}

@media (max-width: 750px) {
  .image_block {
    display: flex;
    justify-content: center;
  }
  .allImages {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    margin-left: 0%;
  }

  .tape {
    left: 12%;
    top: 2%;
  }

  .imageFrame:nth-child(1) :first-child {
    max-width: 658px;
    width: 100%;
  }
  .imageFrame:nth-child(2) :first-child {
    max-width: 110px;
    width: 100%;
  }
  .imageFrame:nth-child(3) :first-child {
    max-width: 110px;
    width: 100%;
  }
  .imageFrame:nth-child(4) :first-child {
    max-width: 110px;
    width: 100%;
  }

  .imageFrame:nth-child(1) {
    grid-area: 1 / 1 / 4 / 4;
  }
  .imageFrame:nth-child(2) {
    grid-area: 4 / 1 / 5 / 2;
  }
  .imageFrame:nth-child(3) {
    grid-area: 4 / 2 / 5 / 3;
  }
  .imageFrame:nth-child(4) {
    grid-area: 4 / 3 / 5 / 4;
  }

  .imageFrame:nth-child(1) :last-child {
    top: 20.5%;
    left: 27.7%;
    transform: rotate(0.4deg);
    max-width: 350px;
    max-height: 340px;
    width: 53.1%;
    height: 56%;
    margin: 0 auto;
  }
  .imageFrame:nth-child(2) :last-child {
    top: 23px;
    left: 35px;
  }
  .imageFrame:nth-child(3) :last-child {
    top: 22px;
    left: 35px;
  }
  .imageFrame:nth-child(4) :last-child {
    top: 21px;
    left: 33px;
  }

  .smallImageFrame {
    max-width: 120px;
    max-height: 100px;
    margin-left: 20px;
    mix-blend-mode: luminosity;
    position: relative;
  }

  .mainDiv {
    display: block;
    margin: 0 auto;
  }
}

@media (max-width: 500px) {
  .tape {
    width: 30%;
    left: 12%;
    top: 3%;
  }
}

@media (max-width: 385px) {
  .smallImageFrame {
    margin-left: 2px;
  }

  .imageFrame:nth-child(2) :last-child {
    top: 23px;
    left: 17px;
  }
  .imageFrame:nth-child(3) :last-child {
    top: 21px;
    left: 16px;
  }
  .imageFrame:nth-child(4) :last-child {
    top: 21px;
    left: 14px;
  }
}
