.button {
  padding: 1.7vw 3vw 1.7vw 3vw;
  background-color: #ffb03b;
  border: none;
  border-radius: 1vw;
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 600;
  font-size: 1.5vw;
  width: 40%;
}

@media screen and (max-width: 425px) {
  .button {
    font-size: 3.5vw;
    padding: 3vw 3.5vw 3vw 3.5vw;
    width: 60%;
    border-radius: 3vw;
  }
}

@media screen and (min-width: 1440px) {
  .button {
    font-size: 20px;
    padding: 17px 36px 17px 36px;
    width: 191px;
    border-radius: 10px;
  }
}
