.events,
.advertise {
  position: relative;
  width: 98%;
  height: 99%;
}

.events:first-child {
  width: 100%;
  height: 100%;
}

.events:nth-child(1) {
  grid-area: 1 / 1 / 2 / 3;
}

.events:nth-child(2) {
  grid-area: 1 / 3 / 2 / 4;
}


.events:nth-child(3) {
  grid-area: 2 / 1 / 3 / 2;
}

.events:nth-child(4) {
  grid-area: 2 / 2 / 3 / 3;
  z-index: 2;
}

.events:nth-child(5) {
  z-index: 2;
  grid-area: 2 / 3 / 3 / 4;
}

.events:nth-child(6) {
  grid-area: 3 / 1 / 5 / 2;
}

.events:nth-child(7) {
  grid-area: 3 / 2 / 4 / 4;
}

.events:nth-child(8) {
  grid-area: 4 / 2 / 5 / 3;
}

.events:nth-child(9) {
  grid-area: 4 / 3 / 5 / 4;
}

.events:nth-child(10) {
  grid-area: 5 / 1 / 6 / 2;
}

.events:nth-child(11) {
  grid-area: 5 / 2 / 6 / 3;
}

.events:nth-child(12) {
  grid-area: 6 / 1 / 7 / 3;
  text-align: center;
}

.events:nth-child(13) {
  grid-area: 5 / 3 / 7 / 4;
}

.events:nth-child(n+14) {
  display: none;
}


.events img {
  max-width: 100%;
}

.image_border {
  position: absolute;
  margin: -3px 0 0 -5px;
}

.image_border img {
  border-radius: 10px;
}

.image {
  position: absolute;
  height: 98%;
  width: 100%;
  overflow: hidden;
  cursor: pointer;

}

.image img {
  opacity: 0.95;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
  width: 99%;
  mix-blend-mode: exclusion;
  transition: .9s;
}

.image img:hover {
  transform: scale(1.1);
}

.image_info {
  position: absolute;
  padding: 32px 35px;
  color: #FFFFFF;
  bottom: 6px;
  border-radius: 0px 0px 6px 6px;
  z-index: 1;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.02) 0%, rgba(0, 0, 0, 0.79) 39.9%, #000000 100%);
  width: 100%;

}

.image_info_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.image_info_title {
  font-weight: 600;
  font-size: 20px;
  line-height: 26px;
}

.image_info_studio {
  display: flex;
  align-items: center;
}

.image_info_partyName {
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  margin: 3px 0 21px 0;
}

.image_info_footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.image_info_number {
  display: flex;
  align-items: center;
}

.image_info_views,
.image_info_photos {
  font-weight: 500;
  font-size: 14px;
  display: flex;
  align-items: center;
}

.image_info_views_number,
.image_info_photos_number {
  margin-left: 5px;
}

.image_info_views {
  margin-right: 28px;
}


.image_info_studio_name {
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  margin-left: 9px;
}

.image_info_date {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}




/* Advertise */


.events:nth-child(7) button {
  display: none;
}

.ad_info {
  position: absolute;
  padding: 0 35px;
  color: #FFFFFF;
  overflow: hidden;
}


.events:nth-child(7) .ad_info {
  width: 326px;
}

.events:nth-child(7) .ad_info_icon {
  position: absolute;
  top: -134px;
  right: 55px;
}

.events:nth-child(12) .ad_info_icon {
  position: absolute;
  top: 22px;
  right: 139px;
}

.events:nth-child(12) .ad_info {
  max-width: 715px;
}

.ad_info_title {
  font-family: 'Montserrat Alternates';
  font-weight: 700;
  font-size: 28px;
  line-height: 34px;
  margin-top: 43px;
}

.ad_info_text {
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  margin-top: 50px;
}




/* Media */


@media (max-width:1120px) {
  .events:nth-child(1) {
    grid-row: 1 / 2;
    grid-column: 1 / 3;
  }

  .events:nth-child(2) {
    grid-row: 2 / 3;
    grid-column: 1 / 2;
  }

  .events:nth-child(3) {
    grid-row: 2 / 3;
    grid-column: 2 / 3;

  }

  .events:nth-child(6) {
    grid-row: 4 / 6;
    grid-column: 1 / 2;
  }

  .events:nth-child(7) {
    grid-row: 6 / 7;
    grid-column: 1 / 3;
  }

  .events:nth-child(7) button {
    display: block;
  }

  .events:nth-child(8) {
    grid-row: 3 / 4;
    grid-column: 1 / 2;
  }

  .events:nth-child(9) {
    grid-row: 3 / 4;
    grid-column: 2 / 3;
  }



  .events:nth-child(13) {
    grid-row: 4 / 6;
    grid-column: 2 / 3;
  }



  .events:nth-child(4),
  .events:nth-child(5),
  .events:nth-child(12),
  .events:nth-child(10),
  .events:nth-child(11) {
    display: none;
  }
}

@media (max-width:750px) {
  .events:nth-child(2) {
    grid-area: block1;
  }

  .events:nth-child(3) {
    grid-area: block2;
  }

  .events:nth-child(8) {
    grid-area: block3;
  }

  .events:nth-child(9) {
    grid-area: block4;
  }

  .events:nth-child(6) {
    grid-area: block5;
  }

  .events:nth-child(7) {
    grid-area: advertise;
  }



  .events:nth-child(1),
  .events:nth-child(13),
  .events:nth-child(7) .image_border,
  .events:nth-child(7) .image,
  .ad_info_icon {
    display: none;
  }
}