

.image img {
  opacity: 0.95;
}


.image_border {
  position: absolute;
  margin: -5px 0 0 -5px;
}

.image {
  position: absolute;
}

.eventPlace,
.zeppelinBar,
.attention,
.kipishBar,
.mamaRada,
.molecula,
.advertise,
.advertise2,
.pablo,
.pintaPub,
.oblaco53,
.secretMusicHall,
.munchenPub {
  width: 98%;
  height: 99%;
}

img {
  max-width: 100%;
}







.eventPlace {
  position: relative;
  grid-area: 1 / 1 / 2 / 3;
}

.zeppelinBar {
  position: relative;
  grid-area: 1 / 3 / 2 / 4;
}

.zeppelinBar .image img {
  width: 98%;

}


.kipishBar {
  position: relative;
  grid-area: 2 / 1 / 3 / 2;
}

.attention {
  position: relative;
  grid-area: 2 / 2 / 3 / 3;
  ;
}

.munchenPub {
  position: relative;

  grid-area: 2 / 3 / 3 / 4;
}

.pintaPub {
  position: relative;

  grid-area: 3 / 1 / 5 / 2;
}

.advertise {
  position: relative;
  grid-area: 3 / 2 / 4 / 4;
}



.mamaRada {
  position: relative;
  grid-area: 4 / 2 / 5 / 3;
}

.secretMusicHall {
  position: relative;
  grid-area: 4 / 3 / 5 / 4;
}

.molecula {
  position: relative;
  grid-area: 5 / 1 / 6 / 2;
}

.oblaco53 {
  position: relative;
  grid-area: 5 / 2 / 6 / 3;
}

.advertise2 {
  position: relative;
  grid-area: 6 / 1 / 7 / 3;
  text-align: center;
}




.pablo {
  position: relative;
  grid-area: 5 / 3 / 7 / 4;
}


.image_info {
  position: absolute;
  padding: 32px 35px;
  color: #FFFFFF;
  bottom: 7px;
  border-radius: 0px 0px 6px 6px;
  z-index: 1;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.02) 0%, rgba(0, 0, 0, 0.79) 39.9%, #000000 100%);
  width: 100%;
}

.image_info_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.image_info_title {
  font-weight: 600;
  font-size: 20px;
  line-height: 26px;

}

.image_info_partyName {
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  margin: 3px 0 21px 0;
}

.image_info_footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.image_info_number {
  display: flex;
  align-items: center;
}

.image_info_views,
.image_info_photos {
  font-weight: 500;
  font-size: 14px;
  display: flex;
  align-items: center;
}

.image_info_views_number,
.image_info_photos_number {
  margin-left: 5px;
}

.image_info_views {
  margin-right: 28px;
}

.image_info_studio {
  display: flex;
  align-items: center;
}

.image_info_studio_name {
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;  
  margin-left: 9px;
}

.image_info_photos {}

.image_info_date {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.advertise .ad_info_icon {
  position: absolute;
  top: -134px;
  right: 168px;
}


.ad_info {
  position: absolute;
  padding: 0 35px;
  color: #FFFFFF;
  width: 100%;
  overflow: hidden;
}

.advertise .ad_info {
  width: 326px;
}


.advertise2 .ad_info_icon {
  position: absolute;
  top: 5px;
  right: 260px;
}

.advertise2 .ad_info {
  max-width: 715px;
}

.ad_info_title {
  font-family: 'Montserrat Alternates';
  font-weight: 700;
  font-size: 28px;
  line-height: 34px;
  margin-top: 43px;
}

.ad_info_text {
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  margin-top: 50px;
}
