.main {
  display: column;
  margin-top: 213px;
}
.title {
  text-align: left;
  margin-bottom: 72px;
  padding-left: 14%;
}
h2 {
  color: white;
}
.cards {
  display: flex;
  justify-content: center;
  align-items: center;
}
/* боковые карточки */
.sideCard {
  display: flex;
  justify-content: center;
  align-items: center;
}
/* первая */
.sideCard1Block {
  position: relative;
}
.sideCard1Image {
  position: absolute;
}
.sideCard1Canvas {
  width: 100%;
}
/* третья */
.sideCard2Block {
  position: relative;
}
.sideCard2Image {
  position: absolute;
}
.sideCard2Canvas {
  width: 100%;
}
/* средняя карточка */

.middleCard {
  display: flex;
  justify-content: center;
  align-items: center;
}

.middleCardBlock {
  position: relative;
}
.middleCardImage {
  position: absolute;
  top: 20%;
  right: 20%;
}
.middleCardCanvas {
  width: 30vw;
}

.cardsMobile{
  display: none;  
}
@media screen and (max-width: 425px) {
  .cards{
    display: none;
  }
  .cardsMobile{
    display: flex;
  }
  

  /* .cards {
    align-items: flex-start;
  }
  .middleCard {
    flex-direction: column;
    margin-left: 50px;
    margin-right: 50px;
  }
  .middleCardCanvas {
    width: 80vw;
    margin-bottom: 58px;
  }
  .sideCard {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  
  .sideCard1Canvas {
    width: 80vw;
  }
  

  .sideCard2Canvas {
    width: 80vw;
  } */
  
}
