.main{
  display: column;
}
.title{
  text-align: left;
}
h2{
 color: white;
}
.cards{
  display: flex;
  justify-content: center;
}
.sideCard{
  display: flex;
  justify-content: center;
  align-items: center;
}
.sideCardTablet1Block{
position: relative;
}
.sideCardTabletImage1{
  position: absolute;
}
.sideCardTablet2Block{
position: relative;
}
.sideCardTabletImage2{
  position: absolute;
}
.middleCard{
  display: flex;
  justify-content: center;
  
}

.middleCardTabletBlock{
  position: relative;
}
.middleCardTabletImage{
  position: absolute;
  top: 20%;
  right: 20%;
}

