.download_btn {
  font-family: 'Montserrat Alternates';
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  padding: 11px 23px;
  border: none;
  background: #FF6D00;
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  color: white;
  margin-left: 30px;
}


.download_btn img {
  margin-left: 14px;
}


@media (max-width:425px) {
  .download_btn {
    padding: 9px 15px;
    font-size: 14px;
  }
}