.container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  height: 380px;
  background-color: greenyellow;
}

.carousel {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  background-color: goldenrod;
}

.card {
  position: absolute;
  left: 24%;
  top: 13px;
  transform: rotate(2deg);
}

.hiddenLeft {
  transform: translateX(-148%) translateY(-10%) rotate(2deg) scale(0.85);
}

.left {
  transform: translateX(-60%) translateY(-3%) rotate(2deg) scale(0.85);
}

.active {
  z-index: 2;
}

.right {
  transform: translateX(78%) translateY(6%) rotate(2deg) scale(0.85);
}

.hiddenRight {
  transform: translateX(165%) translateY(13%) rotate(2deg) scale(0.8);
}
