* {
  font-family: "mont";
  margin: 0;
  padding: 0;
}
.bar_mainContainer {
  max-width: 1440px;
  height: 1620px;
  left: 0px;
  top: 0px;
  background: url("../../assets/institutionBarImg/back/back.png");
  background-color: #000000;
  mix-blend-mode: screen;
}
.bar_gradient {
  max-width: 1440px;
  height: 1620px;
  background: linear-gradient(180deg, #000000 11%, rgba(0, 0, 0, 0) 100%);
  mix-blend-mode: screen;
  color: white;
}

/* Text part */
.text_header {
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  color: #ffb03b;
  font-family: "mont";
  line-height: 24.38px;
  position: absolute;
  height: 24px;
  left: 109px;
  top: 164px;
}

.share {
  position: absolute;
  font-family: "mont";
  color: white;
  left: 969px;
  top: 164px;
}

.map {
  position: absolute;
  left: 108px;
  top: 905px;
  right: 108px;
  display: flex;
  justify-content: space-around;
}
.text {
  color: white;
}

/* Map */
.textMap {
  position: absolute;
  left: 60%;
}
.textMap h1 {
  font-family: "mont";
  font-weight: 700;
  font-size: 22px;
  line-height: 45px;
  color: #ffb03b;
}

.textMap p {
  font-family: "mont";
  font-weight: 400;
  font-size: 16px;
  line-height: 45px;
  color: #ffffff;
}
.circle {
  position: absolute;
  top: -47px;
  right: 205px;
}
.textMap p img {
  margin: 0 10px 0 0;
}
/* Paper */

.frame1 {
  position: absolute;
  top: 100px;
  left: 100px;
  transform: rotate(-1.38deg);
}
.frame2 {
  position: absolute;
  top: 100px;
  left: 450px;
  transform: rotate(1.53deg);
}
.frame3 {
  position: absolute;
  top: 100px;
  left: 800px;
  transform: rotate(1.38deg);
}
/* White content part */
.paper {
  position: absolute;
  width: 100%;
  /* height: 708px; */
  left: 0px;
  top: 1478px;
  color: black;
}
.paperComponent {
  top: -130px;
  position: absolute;
  width: 100%;
  height: 788px;
  mix-blend-mode: normal;
}
.phone111 {
  position: absolute;
  width: 1310px;
  height: 200vh;
  mix-blend-mode: screen;
}

.photoDiv {
  position: absolute;
  left: 96px;
  top: 300px;
}

.botttom {
  position: absolute;
  top: 420px;
}
.h1p {
  position: absolute;
  left: 140px;
}
.hp {
  position: absolute;
  left: 140px;
  top: 50px;
}

.fr1 {
  position: absolute;
  top: 118px;
  left: 106.5px;
  transform: rotate(-1.5deg);
}

.fr2 {
  position: absolute;
  top: 118px;
  left: 456px;
  transform: rotate(1.6deg);
  mix-blend-mode: screen;
}
.fr3 {
  position: absolute;
  top: 119px;
  left: 806.5px;
  transform: rotate(1.2deg);
  mix-blend-mode: screen;
}

/* first child */

.mapImage {
  position: absolute;
  width: 600px;
  left: 0;
}

/* NEW */
/* Livebar */

.livebarContainer {
  position: absolute;
  top: 262px;
  left: 108px;
  right: 108px;
  display: flex;
  justify-content: space-around;
}

.livebar {
  width: 400px;
}

.livebarHeader {
  font-size: 24px;
  margin-top: 23px;
}

.comments {
  width: 200px;
  display: flex;
}
.comments img,
p {
  padding: 10px 10px 0 0;
}

.rating {
  margin-top: 24px;
  padding: 10px 10px 0 0;
}
.livebarLetfTop {
  margin-bottom: 20px;
}

/* Photo Livebar */
.photosAll {
  position: absolute;
  top: 440px;
  display: flex;
  justify-content: space-evenly;
}
.photo1 {
  width: 140px;
  height: 118px;
  background: url("../../assets//institutionBarImg/iconLiveBar/polaroidMini.png");
}
.photo2 {
  width: 140px;
  height: 118px;
  background: url("../../assets//institutionBarImg/iconLiveBar/polaroidMini.png");
  transform: rotate(3.76deg);
}
.photo3 {
  width: 140px;
  height: 118px;
  background: url("../../assets//institutionBarImg/iconLiveBar/polaroidMini.png");
  transform: rotate(10.76deg);
}
.photo4 {
  width: 140px;
  height: 118px;
  background: url("../../assets//institutionBarImg/iconLiveBar/polaroidMini.png");
  transform: rotate(2.76deg);
}
/* .mainPhoto {
  position: relative;
  border-radius: 2px;
  bottom: 346px;
  left: 85px;
  transform: rotate(3.7deg);
} */

.mainPhoto {
  position: absolute;
  border-radius: 2px;
  bottom: 3%;
  right: 18.5%;
  transform: rotate(3.7deg);
}
.polaroidMainLivebar {
  position: absolute;
}
