.container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0px 6rem;

}

.photo {
  background: black url('../../assets/photoPageImages/photoPage-bg.png') 0 0 / cover no-repeat;
  min-height: 100vh;
  width: 100%;
}


.calendar_icon {
  position: fixed;
  max-width: 105px;
  right: 0;
  top: 50%;
  background: rgba(255, 255, 255, 0.1);
  -webkit-backdrop-filter: blur(8px);
  backdrop-filter: blur(8px);
  border-radius: 50%;
  z-index: 50;
  cursor: pointer;
}

@media (max-width:750px) {
  .photo {
    background: black url('../../assets/photoPageImages/photoPage-mobile-bg.png') 0 0 / cover no-repeat;
    min-height: 100vh;
    width: 100%;
  }
  .container {
    padding: 0 5px;
  }
}

