
svg {
    display: inline-flex;
    width: 100%;
    height: max-content;
}
.Icon {
    display: inline-flex;
    align-items: center;
    text-align: center;




}

.Icon-IconSize {

}
.Icon-IconSize__small {
    width: 12px;
    height: 12px;
}