.info {
  width: 170px;
  height: 330px;
}

.header {
  width: 100%;
  height: 49px;
  display: flex;
  align-items: stretch;
}

.logo {
  width: 49px;
  height: 49px;
  margin-right: 11px;
}

.logo img {
  width: 100%;
  height: auto;
}

.title_container {
  width: 120px;
  height: 49px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.title_container h4 {
  font-family: 'Mont';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 26px;
  /* identical to box height */

  color: #000000;
}

.title_container p {
  font-family: 'Mont';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;

  color: #000000;
}

.info_content {
  width: 100%;
  height: 88px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 33px;
}

.info_content div {
  display: flex;
}

.info_content img {
  margin-right: 13px;
}

.info_content p {
  font-family: 'Mont';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;

  color: #000000;
}

.prices {
  width: 100%;
  height: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 30px;
}

.prices div {
  display: flex;
}

.prices span {
  font-family: 'Mont';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  /* identical to box height */

  color: #000000;
  margin-left: 5px;
  margin-right: 15px;
}

.stars {
  width: 150px;
  height: 23px;
  display: flex;
  justify-content: space-between;
  margin-top: 31px;
}

.stars_container {
  width: 114px;
  height: 17px;
  display: flex;
  justify-content: space-between;
}

.stars img {
  width: 17px;
  height: 17px;
}

.stars p {
  font-family: 'Mont';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 23px;
  /* identical to box height */

  color: #000000;

  mix-blend-mode: normal;
}
