.livebarContainer {
  box-sizing: border-box;
}

/* LivebarText */
.text {
  position: relative;
  top: 16%;
  margin-top: 10%;
  width: 100%;
  height: 750px;
}

.livebarLetfBottom p {
  margin-bottom: 4%;
  font-size: 16px;
}

.livebarLetfTop {
  margin-bottom: 5%;
}
.livebarHeader {
  padding-top: 15px;
  font-size: 24px;
}
.livebar {
  padding: 5% 0 0 8%;
}
.comments {
  width: 200px;
  display: inline-flex;
}
.comments img,
p {
  padding: 2% 10% 0 0;
}
.rating {
  width: 38%;
}

/* LiveBar Photo */
.photo {
  top: 30%;
  position: relative;
}

.mainPhoto {
  position: absolute;
  border-radius: 2px;
  top: 17%;
  left: 15%;
  transform: rotate(3.7deg);
}

.photosAll {
  position: absolute;
  padding-top: 10%;
  left: 5%;
  display: flex;
  justify-content: space-evenly;
}
.demo {
  position: absolute;
  top: 115%;
  display: flex;
  justify-content: space-evenly;
}
/* MAP */

/* .polaroidMini:nth-child(1n) {
  transform: rotate(-2deg);
}
.polaroidMini:nth-child(2n) {
  transform: rotate(3.76deg);
}
.polaroidMini:nth-child(3n) {
  transform: rotate(10.76deg);
}
.polaroidMini:nth-child(4n) {
  transform: rotate(2.76deg);
} */

.polaroid1 {
  z-index: 0;
}
.polaroid2 {
  transform: rotate(3.76deg);
  z-index: 0;
}
.polaroid3 {
  transform: rotate(10.76deg);
  z-index: 0;
}
.polaroid4 {
  transform: rotate(2.76deg);
  z-index: 0;
}
.photo1 {
  position: absolute;
  top: 12%;
  left: 3%;
  width: 25%;
  transform: rotate(-3deg);
}
.photo2 {
  position: absolute;
  top: 12%;
  left: 34.5%;
  width: 25%;
  transform: rotate(1.3deg);
}
.photo3 {
  position: relative;
  margin: 2% 0 0 89%;
  width: 25%;
  transform: rotate(7.9deg);
}

.photo4 {
  position: relative;
  margin: 2% 0 0 6.5%;
  width: 25%;
}
/* Map */
.mapImage {
  width: 100%;
  padding-top: 20%;
  cursor: pointer;
  transition: all 0.4s ease-in-out;
}
.mapImage:hover {
  transform: scale(1.1);
}
.textMap {
  padding: 18% 0 0 12%;
  position: relative;
  line-height: 30px;
}

.textMap p img {
  margin: 0 10px 0px 0;
}
.circle {
  position: absolute;
  margin: -9% 0 0 -6%;
}

.textMap h1 {
  font-family: "mont";
  font-weight: 700;
  font-size: 22px;
  line-height: 45px;
  color: #ffb03b;
}
/* .reverse {
  display: flex;
  flex-wrap: wrap;
} */
.tape1 {
  top: 50%;
  position: absolute;
  left: 17%;
  mix-blend-mode: luminosity;
  z-index: 1;
}
.tape2 {
  position: absolute;
  mix-blend-mode: luminosity;
  top: 45%;
  left: 46%;
  z-index: 1;
  transform: rotate(-10deg);
}
.tape3 {
  width: 6%;
  position: absolute;
  mix-blend-mode: luminosity;
  top: 50%;
  left: 74%;
  z-index: 1;
  transform: rotate(14deg);
}
@media only screen and (max-width: 800px) {
  .livebarLetfBottom p {
    font-size: 14px;
  }
  .photo {
    top: 45%;
  }
  .mapImage {
    padding-top: 70%;
  }
}
@media only screen and (max-width: 900px) {
  /* .photosAll {
    position: absolute;
    left: 22%;
  }
  .polaroid1 {
    width: 63%;
    height: 50%;
  }
  .polaroid2 {
    width: 63%;
    height: 50%;
    transform: rotate(3.76deg);
  }
  .polaroid3 {
    width: 63%;
    height: 50%;
    transform: rotate(10.76deg);
  }
  .polaroid4 {
    visibility: hidden;
  }
  .photo1 {
    position: absolute;
    top: 14%;
    left: -13%;
    width: 35%;
    transform: rotate(-3deg);
  }
  .photo2 {
    position: absolute;
    top: 14%;
    left: 31%;
    width: 34%;
    transform: rotate(1.3deg);
  }
  .photo3 {
    position: relative;
    margin: 3% 0 0 115%;
    width: 34%;
    transform: rotate(7.9deg);
  }
  .photo4 {
    visibility: hidden;
  } */
  .rating {
    margin-left: 8%;
  }
  /* .tape1 {
    top: 40%;
    position: absolute;
    left: -4%;
    mix-blend-mode: luminosity;
    z-index: 1;
  }
  .tape2 {
    position: absolute;
    mix-blend-mode: luminosity;
    top: 40%;
    left: 54%;
    z-index: 1;
    transform: rotate(-10deg);
  }
  .tape3 {
    visibility: hidden;
  } */
}
@media only screen and (max-width: 500px) {
  .livebarHeader {
    font-size: 18px;
  }
  .photo {
    top: 30%;
  }
  .mapImage {
    padding-top: 70%;
  }
  .textMap {
    padding: 5% 0 0 3%;
  }
  .circle {
    width: 45%;
  }
  /* .photosAll {
    position: absolute;
    left: 22%;
  } */
  /* .polaroid1 {
    width: 63%;
    height: 50%;
  }
  .polaroid2 {
    width: 63%;
    height: 50%;
    transform: rotate(3.76deg);
  }
  .polaroid3 {
    width: 63%;
    height: 50%;
    transform: rotate(10.76deg);
  } */
  .polaroid4 {
    visibility: hidden;
  }
  .photo1 {
    position: absolute;
    top: 14%;
    left: -14%;
    width: 35%;
    transform: rotate(-3deg);
  }
  .photo2 {
    position: absolute;
    top: 14%;
    left: 32%;
    width: 34%;
    transform: rotate(1.3deg);
  }
  .photo3 {
    position: relative;
    margin: 3% 0 0 118%;
    width: 34%;
    transform: rotate(7.9deg);
  }
  .photo4 {
    visibility: hidden;
  }
  .tape1 {
    top: 40%;
    position: absolute;
    left: -4%;
    mix-blend-mode: luminosity;
    z-index: 1;
  }
  .tape2 {
    position: absolute;
    mix-blend-mode: luminosity;
    top: 40%;
    left: 54%;
    z-index: 1;
    transform: rotate(-10deg);
  }
  .tape3 {
    visibility: hidden;
  }
  /* .reverse {
    display: flex;
    flex-wrap: wrap-reverse;
  } */
}
