.main {
  width: 100%;
  /* background-color: rgb(196, 193, 193); */
  font-family: 'Montserrat Alternates';
  position: relative;
  overflow: hidden;
}

/* .top_div {
  width: 100%;
  height: 90px;
  background-image: linear-gradient(180deg, black, rgba(47, 43, 43, 0.897));
  position: absolute;
  z-index: 5;
  top: 0;
} */

.main_title {
  font-family: 'Montserrat Alternates';
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 39px;
  color: #ffffff;
}

@media screen and (max-width: 700px) {
  .main_title {
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    color: white;
  }
}

/* 
  Top Institutions part
*/

.institutions_container {
  width: 100%;
  margin: 30px auto;
  max-width: 1440px;
  height: 509px;
}

.institutions_title {
  margin-left: 18%;
  margin-bottom: 57px;
}

.institutions_slider {
  width: 100%;
}

/* -------------------- */

/* PhotoReports component */

.photo_reports {
  width: 100%;
  /* height: 975px; */
  min-height: 975px;
  position: relative;
  background-image: url('../../assets/mainPage/photo-report-bg.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.photo_reports_container {
  max-width: 1006px;
  margin: 0 auto;
  width: 90%;
  min-height: 975px;
}

.photo_reports__title {
  width: 100%;
  height: 128px;
  display: flex;
  align-items: center;
}

.photo_reports__content {
  width: 100%;
  min-height: 665px;
  background-color: black;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  position: relative;
}

.green_tape {
  width: 116px;
  height: 38px;
  position: absolute;
  top: 100px;
  left: 49%;
  transform: translateX(-50%);
  mix-blend-mode: luminosity;
  opacity: 0.8;
  z-index: 5;
  display: none;
}

@media (max-width: 1125px) {
  .photo_reports__content {
    width: 670px;
  }
}

@media screen and (max-width: 730px) {
  .photo_reports__content {
    width: 350px;
  }

  .photo_reports__content div:nth-child(4) {
    display: none;
  }

  .photo_reports__content div:nth-child(5) {
    display: none;
  }

  .green_tape {
    display: block;
  }

  .main_title {
    font-family: 'Montserrat Alternates';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    /* identical to box height */

    color: #ffffff;
  }
}

.photo_reports__btn {
  width: 100%;
  height: 174px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.photo_reports__star3 {
  position: absolute;
  top: 0;
  left: 55%;
}

.photo_reports__star4 {
  position: absolute;
  top: 40px;
  left: calc(55% + 92px);
}

.photo_reports__smileIcon {
  position: absolute;
  top: 50%;
  left: 66.52px;
  z-index: -1;
}

.photo_reports__btn button {
  width: 169px;
  height: 58px;
  background: #ffb03b;
  border-radius: 10px;
  border-style: none;
  font-family: 'Montserrat Alternates';
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  text-align: center;

  color: #000000;
}

/* -------------------------------- */

/* Background images */

.main_one {
  background-origin: border-box;
  background-image: url(../../assets/mainPage/background-images/main-bg-one.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding-top: 80px;
  position: relative;
}

.header_background_effect {
  position: absolute;
  width: 1440px;
  height: 248px;
  left: 0px;
  top: 0px;
  z-index: 1;

  background: linear-gradient(180deg, #000000 11%, rgba(0, 0, 0, 0) 100%);
}

.main_two {
  width: 100%;
  background-image: url(../../assets/mainPage/background-images/main_bg_two.png);
  background-size: cover;
  background-color: aliceblue;
}

.paper_background {
  width: 100%;
  max-width: 1440px;
  height: 1528px;
  margin: 0 auto;
  background-image: url(../../assets/mainPage/paper-background.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 100px;
  position: relative;
}

@media (max-width: 1210px) {
  .paper_background {
    height: 2100px;
    padding-top: 10px;
  }
}

.paper_gradient_left {
  width: 1528px;
  height: 500px;
  position: absolute;
  right: 500px;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.8) 0%,
    rgba(0, 0, 0, 0) 38.53%
  );
  transform: rotate(-90deg);
  z-index: 0;
  pointer-events: none;
}

.paper_gradients_right {
  position: absolute;
  width: 1528px;
  height: 500px;
  left: 480px;
  z-index: 0;

  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.8) 0%,
    rgba(0, 0, 0, 0) 38.53%
  );
  transform: matrix(0, -1, -1, 0, 0, 0);
  pointer-events: none;
}

/* ----------------- */
