.sketchInstitutions{
  position: absolute;
  top: 17%;
  right: 12%;
  width: 18%;
  

}
.sketchVideo{
  
    position: absolute;
    top: 17%;
    right: 12%;
    width: 14%;
  
}
.topGradient{
  position: absolute;
  width: 100%;
  height: 41%;
  top: -41%;
  left: 0%;
  background: linear-gradient(0deg, #000000 11%, rgba(0, 0, 0, 0) 100%);
}
.bottomGradient{
  position: absolute;
  width: 100%;
  height: 41%;
  top: 100%;
  left: 0%;
  background:  linear-gradient(180deg, #000000 11%, rgba(0, 0, 0, 0) 100%);;
}
.container {
  margin: 0 auto;
  margin-top: 64px;
  text-align: center;
  width: 100vw;
  height: 41vw;
  position: relative;
  background: url('../../assets/book/blackFilmGradient.png') 0 0/100% 100% no-repeat;
  margin-bottom: 35vmin;
}
.containerMain {
  margin: 0 auto;
  margin-top: 0;
  text-align: center;
  width: 100vw;
  height: 41vw;
  position: relative;
  background: url('../../assets/book/blackFilmGradientTop.png') 0 0/100% 100% no-repeat;
  margin-bottom: 35vw;
}
 .containerVideo{
  margin: 0 auto;
  margin-top: 0px;
  text-align: center;
  width: 100vw;
  height: 41vw;
  position: relative;
  background: url('../../assets/book/blackFilmGradient.png') 0 0/100% 100% no-repeat;
  margin-bottom: 18vmin;
}
.imageBlock {
  background-color: rgba(0, 0, 255, 0.527);
  position: absolute;
  top: 35.5%;
  right: 59%;
  min-width: 33%;
  min-height: 60%;
  overflow: hidden;
  transform: rotateZ(1deg);
}
.image {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: auto;
}
.contactBlock {
  position: absolute;
  top: 25%;
  right:9%;
  max-height: 40%;
  max-width: 40%;
}
.title {
  font-size: 2.5vw;
  color: white;
  font-family: "Montserrat Alternates", sans-serif;
  margin-bottom: 9%;
}
.text {
  font-size: 1.3vw;
  margin: 0 auto;
  color: white;
  max-width: 80%;
  margin-bottom: 9%;
}
@media screen and (max-width: 425px) {
  .topGradient{
    position: absolute;
    width: 100%;
    height: 21%;
    top: -21%;
    left: 0%;
    background:  linear-gradient(0deg, #000000 11%, rgba(0, 0, 0, 0) 100%);;
  }
  .bottomGradient{
    display: none;
  }
  .sketchVideo, .sketchInstitutions {
    display: none;
  }
  .background{
    display: none;
  }
  .container, .containerMain, .containerVideo {
    width: 100vw;
    height: 173vw;
    background: url('../../assets/book/blackFilmMobile.png') 0 0/100% 100% no-repeat;
  }
  .containerVideo{
    margin-bottom: 9vmin;
  }
  .imageBlock {
   
      top: 17.5%;
      right: 14%;
      min-width: 70%;
      min-height: 28%;
      overflow: hidden;
      transform: rotateZ(1deg);
  
  }
  .title{
    transform: rotateZ(1deg);
    font-size: 22px;
  }
  .text{
    font-size: 12px;
     max-width: 100%;
  }
  .contactBlock {
    position: absolute;
    top: 54%;
    left: 23%;
    max-height: 40%;
    max-width: 60%;
  }
  
}




@media screen and (min-width: 1440px) {
  
  .container{
    width: 1440px;
    height: 556px;
  }
  .background {
    width: 1440px;
    height: 556px;
  }
  .title {
    font-size: 36px;
    width: 515px
  }
  .text{
    font-size:16px;
  }
  .contactBlock {
  
      position: absolute;
      top: 150px;
      right: 180px;
      max-height: 300px;
      max-width: 500px;
      
  }

}