.container {
  margin-top: 64px;
  text-align: center;
  width: 100vw;
  height: 41vw;
  position: relative;
  background: url('../../assets/book/blackFilmGradient.png') 0 0/100% 100% no-repeat;
}
.background {
  width: 100%;
  height: auto;
}
.imageBlock {
  background-color: rgba(0, 0, 255, 0.527);
  position: absolute;
  top: 35.5%;
  right: 59%;
  min-width: 33%;
  min-height: 60%;
  overflow: hidden;
  transform: rotateZ(1deg);
}
.image {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: auto;
}
.contactBlock {
  position: absolute;
  top: 25%;
  left: 51%;
  max-height: 40%;
  max-width: 40%;
}
.title {
  font-size: 2.5vw;
  color: white;
  font-family: "Montserrat Alternates", sans-serif;
  margin-bottom: 9%;
}
.text {
  font-size: 1.3vw;
  margin: 0 auto;
  color: white;
  max-width: 80%;
  margin-bottom: 9%;
}
@media screen and (max-width: 425px) {
  .container {
    width: 100vw;
    height: 173vw;
    background: url('../../assets/book/blackFilmMobile.png') 0 0/100% 100% no-repeat;
  }
  .imageBlock {
   
      top: 17.5%;
      right: 14%;
      min-width: 70%;
      min-height: 28%;
      overflow: hidden;
      transform: rotateZ(1deg);
  
  }
  .title{
    transform: rotateZ(1deg);
    font-size: 22px;
  }
  .text{
    font-size: 12px;
     max-width: 100%;
  }
  .contactBlock {
    position: absolute;
    top: 54%;
    left: 23%;
    max-height: 40%;
    max-width: 60%;
  }
  
}