.alertBlock {
  width: auto;
  position: fixed;
  top: 20px;
  right: 0;
}
.alert {
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}
/*.activeAlert {*/
/*  width: auto;*/
/*  right: 0;*/
/*  transition: all 1s ease-out;*/
/*}*/
