.back {
  overflow: hidden;
  width: 100%;
  height: 175vw;
  top: 0px;
  /* background-color: black; */
  background: url("../../assets/institution/back.jpg") 0 0/100% 100% no-repeat;
  /* background-image: url('../../assets/institution/back.webp');
  background-size: cover;
  background-attachment: fixed;
  background-position: 0 0;
  background-repeat: no-repeat; */
}
.container {
  position: relative;
  max-width: 1440px;
  margin: 0 auto;
}
.star {
  position: absolute;
  top: 47vw;
  left: 47%;
  width: 22.6%;
}
.emoji {
  position: absolute;
  top: 98vw;
  left: 20%;
  width: 12%;
  z-index: 1;
}
.emojies {
  position: absolute;
  top:154vw;
  left: 44.4%;
  width: 10.9%;
}
.up {
  position: absolute;
  top: 164vw;
  left: 6.6%;
  width: 4.7%;
}
@media screen and (max-width: 425px) {
  .back {
    background: url("../../assets/institution/mobileback.jpg") 0 0/100% 100%
      no-repeat;
    height: 593vw;
  }
  .star {
   display: none;
  }
  .emoji {
    position: absolute;
    top: 50.8%;
    left: 61%;
    width: 41%;
    transform: rotateY(180deg);
  }
  .emojies {
    position: absolute;
    top:546vw;
    left: 38%;
    width: 32%;
  }
  .up {
    position: absolute;
    top: 564vw;
    left: 6.6%;
    width: 21%;
  }

}
