.container {
  width: 1349px;
  height: 972px;
}

.title {
  background: #000000;
  width: 100%;
  height: 100%;
  background-image: url("./image//paper\ 2\ piece.svg");
  background-repeat: no-repeat;
  background-size: cover;
  /* position: relative; */
}

.column {
  padding: 10px;
}

.row2 {
  width: 100%;
  height: 814px;
  display: flex;
  flex-direction: row;
  align-items: center;
  /* flex-wrap: nowrap; */
}

.personalities {
  background-image: url("./image/Fon.png");
  background-repeat: round;
  background-size: cover;
  height: 330px;
  width: 429px;
}

.photo {
  margin: 28px -13px 7px 19px;
  height: 240px;
  width: 198px;
}

.gradient {
  margin: -246px 0px 0px 209px;
  height: 240px;
  width: 198px;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("./image/backgraund_gradient.png");
  font-family: "Montserrat Alternates";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-align: center;

  color: #ffffff;

  transform: rotate(1deg);
  padding-top: 20px;
}

.btn {
  background: #ffb03b;
  opacity: 0.9;
  border-radius: 8px;
  transform: rotate(1.73deg);
  border: none;
  width: 95px;
  height: 27px;
  cursor: pointer;
}

.person_title {
  font-family: "Montserrat Alternates";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 39px;

  color: #000000;
}

.btn:hover {
  background: #ffba53;
}

/* .backnightLife {
  background-image: url("./image/BackgraundNightLife.png");
}

.container__nightLife {
  max-width: 1349px;
  max-height: 827px;
  background: #000000;
  background: url("./image//table.png");
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  display: flex;
  flex-direction: column;
}

.item__container {
  background-image: url("./image/background__NightLife.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 1349px;
  height: 827px;
  flex-flow: column nowrap;
  display: flex;
  justify-content: center;
}

img {
  margin: 16px -51px 8px 168px;
} */

.con {
  display: inline-block;
  margin: 0 auto;
}
