.establishmentBlock {
  width: 85%;
  display: flex;
  flex-direction: column;
}

.descriptionWrapper {
  padding-left: 6%;
  /*padding: 0 30px;*/
}
.descriptionWrapper h3,
.contactsWrapper h3 {
  font-family: "Montserrat Alternates";
  font-weight: 600;
  font-size: 26px;
  line-height: 32px;
  margin-bottom: 40px;
  color: var(--orange-text);
}
.descriptionBlocks {
  display: flex;
  align-items: flex-start;
  gap: 20%;
}
.descriptionBlock {
  width: 50%;
  height: auto;
}

.descriptionList {
  display: flex;
  /*align-items: start;*/
  flex-wrap: wrap;
}
.inputBlockDescription {
  width: 33%;
}
.contactsWrapper {
  padding-left: 6%;
  width: 60%;
}
.btnBlock {
  align-self: flex-end;
}
