.photoBreadcrumb {
  position: relative;
  z-index: 10;
  padding: 58px 40px 0 65px;
}

.photoBreadcrumb button {
  border: none;
  background: transparent;
  font-family: 'Montserrat Alternates';
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
  margin-right: 21px;
  cursor: pointer;
}

@media (max-width:750px) {
  .photoBreadcrumb {
    text-align: center;
    padding-left: 40px;
  }
}

