.adminWrapper {
  display: flex;
  width: 100%;
  min-height: 100vh;
  color: white;
}
.contentWrapper {
  width: 100%;
  height: 100%;
}

.container {
  width: 95%;
  height: 100%;
  max-width: 1150px;
  margin: 0 auto;
  padding-left: 4.5em;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /*flex: 1;*/
  /*padding: 30px;*/
  /*width: 90%;*/
  /*max-width: 1000px;*/
  /*height: 100%;*/
  /*margin: 0 auto;*/
}

<<<<<<< HEAD ======= .content_image {
  max-width: 437px;
  width: 451px;
  height: 437px;
  background-color: #2f2f2f;
  /* dashed border */
  /* background-image: url("data:image/svg+xml,%3csvg width='100%' height='100%' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='13' ry='13' stroke='white' stroke-width='4' stroke-dasharray='20' stroke-dashoffset='5' stroke-linecap='square'/%3e%3c/svg%3e"); */
  border-radius: 13px;
}
>>>>>>>102090d4fe3b173c1c52100363f933ebc42787a6 .btn {
  width: 205px;
  height: 58px;
  color: black;
  align-self: flex-end;
  margin: 60px 60px 0 0;

  line-height: 24px;
}

.generalBlock {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  flex: 1;
  margin: 0 auto;
}
.buttonBlock {
  /*margin-right: 6%;*/
}

.adminGeneralBlock {
  width: 100%;
  display: flex;
  /*max-width: 1200px;*/
  flex-direction: column;
  padding-top: 40px;
  /*padding: 60px 30px 0;*/
}
.generalBlock {
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  flex: 1;
  margin: 0 auto;
}
.adminFields {
  width: auto;
  display: flex;
  flex: 1;
  flex-direction: column;
}
.adminInputs {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.active {
  color: var(--orange-text);
}
.icon {
}
.adminTitle {
  color: white;
  margin-bottom: 55px;
  font-size: 1.8em;
}

.bannerContent {
  flex-direction: column;
  gap: 0 !important;
}

/*.adminTitle span:first-child {*/
/*  color: var(--orange-text);*/
/*}*/
.bannerField {
  width: 60%;
}

.adminContent {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  gap: 60px;
  /*!* gap: 70px;*/
}
.btnBlock {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}
.buttonBlock {
  /*margin-right: 13%;*/
  align-self: flex-end;
}

@media (min-width: 68em) {
  .container {
    padding-left: 8em;
  }
}
