.news_container {
  width: 90%;
  max-width: 1250px;
  margin: 0 auto;
  min-height: 590px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  background-color: white;
}

.content {
  width: 350px;
  min-height: 293px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.content_title {
  font-family: 'Montserrat Alternates';
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 44px;

  color: #ff6d00;
}

.content_info {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;

  color: #000000;
}

.content_date {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;

  text-align: right;

  color: #000000;
}

.image_container {
  width: 780px;
  height: 590px;
}

.image_container img {
  width: 100%;
  height: auto;
}
