.news_container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  min-height: 590px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  background-color: white;
}

.content {
  width: 380px;
  min-height: 293px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 50px;
  margin-bottom: 20px;
}

.content_title {
  font-family: 'Montserrat Alternates';
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 44px;

  color: #ff6d00;
}

.content_info {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;

  color: #000000;
}

.content_date {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;

  text-align: right;

  color: #000000;
}

.image_container {
  width: 780px;
  height: 590px;
}

.image_container img {
  width: 100%;
  height: auto;
}

@media (max-width: 1200px) {
  .content {
    width: 67%;
    margin-left: 0;
  }

  .image_container {
    height: 50%;
  }
}
