.eventPage_navbar {
  color: white;
  max-width: 1000px;
  margin: 0 auto;
}

.eventPage_navbar div {
  position: relative;
  z-index: 10;
  display: flex;
  max-width: 380px;
  justify-content: space-between;
  font-family: 'Montserrat Alternates';
  font-size: 16px;
  margin-left: 10%;
  color: white;
  margin-top: 70px;
}
.eventPage_navbar div a {
  color: white;
}

.section1_container {
  max-width: 1257px;
  margin: 0 auto;
  margin-top: 67px;
}

.eventPage_section1 {
  color: white;
  position: relative;

  max-width: 985px;

  margin: 0 auto;
  margin-right: 14%;
  margin-left: 11%;
}

.eventPage_section1 {
  color: white;
  position: relative;
  /* display: flex; */
  max-width: 985px;
  /* width: 100%; */
  margin: 0 auto;
  margin-right: 14%;
  margin-left: 11%;
}

.section1_image {
  max-width: 985px;
  border-radius: 10px;
  width: 100%;
  max-height: 440px;
}

.section1_text {
  position: absolute;
  border-radius: 10px;
  display: flex;
  max-width: 985px;
  width: 100%;
  justify-content: space-between;
  padding: 2% 5% 2% 6%;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.02) 0%,
    rgba(0, 0, 0, 0.79) 39.9%,
    #000000 100%
  );
  bottom: 0;
  font-family: 'Mont';
}

.section1_button {
  background: #ffb03b;
  opacity: 0.9;
  border-radius: 10px;
  width: 209px;
  height: 60px;
  color: white;
  cursor: pointer;
  font-family: 'Montserrat Alternates';
  font-style: normal;
  font-weight: 500;
  font-size: 19px;
  line-height: 23px;
  border: none;
}

.section1_text h3 {
  font-weight: 600;
  font-size: 28px;
  line-height: 36px;
}

.section1_text p {
  font-weight: 600;
  font-size: 24px;
  line-height: 31px;
}

.section1_tape2 {
  position: absolute;

  z-index: 1;

  width: 20%;
  right: -14%;
  top: -12%;
}

.section1_tape1 {
  position: absolute;
  left: -11%;
  bottom: -23%;
  mix-blend-mode: luminosity;
  z-index: 1;
  width: 20%;
}

.eventPage_background {
  background-color: black;
  position: relative;
  background: url('../../assets/eventsImages/Events.jpg');
  background-size: 100% 100%;
}

.section1_back_ellipseGradient {
  max-width: 814px;
  max-height: 814px;
  width: 100%;
  height: 100%;

  position: absolute;
  background: radial-gradient(
    50% 50% at 50% 50%,
    #3970ff 0%,
    rgba(202, 246, 255, 0) 100%
  );
  opacity: 0.25;
  top: 324px;
  left: -53px;
}

.eventPage_banner {
  display: block;
  margin: 0 auto;
  max-width: 955px;
  width: 100%;
  margin-top: 10vw;
  padding-left: 43px;
  padding-right: 43px;
}
.eventPage_bannerMini {
  display: none;
  margin: 0 auto;

  width: 100%;
  margin-top: 10vw;
  padding-left: 43px;
  padding-right: 43px;
}
.section1_button_media {
  display: none;
}

.eventPage_section2 {
  color: white;
  max-width: 1123px;
  margin: 0 auto;
}
.eventPage_section2 > h3 {
  font-family: 'Montserrat Alternates';
  font-weight: 700;
  font-size: 32px;
  line-height: 39px;

  margin: 95px 0 49px 76px;
}

.eventPage_section2 > a {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  color: white;
}

@media (max-width: 770px) {
  .section1_button {
    display: none;
  }

  .section1_button_media {
    display: block;
    background: #ffb03b;
    opacity: 0.9;
    border-radius: 10px;
    width: 187px;
    height: 50px;
    font-weight: 500;
    font-size: 20px;
    line-height: 15px;
    color: black;
    cursor: pointer;
    margin: 0 auto;
    margin-top: 20px;
    border: none;
  }

  .eventPage_navbar div {
    display: flex;
    max-width: 380px;
    justify-content: space-between;
    font-family: 'Montserrat Alternates';
    font-size: 16px;
    margin-left: 10%;
  }
}

@media (max-width: 550px) {
  .section1_text h3 {
    font-size: 16px;
    line-height: 0px;
  }
  .section1_text p {
    font-size: 16px;
  }
  .eventPage_banner {
    display: none;
  }
  .eventPage_bannerMini {
    display: block;
  }
}

@media (max-width: 470px) {
  .eventPage_navbar div {
    font-size: 12px;
    margin: 0 auto;
    justify-content: start;
    margin-top: 70px;
  }

  .eventPage_navbar div a {
    margin-right: 24px;
  }
  .eventPage_navbar div a:first-child {
    margin-left: 30px;
  }
}

@media (max-width: 370px) {
  .section1_text h3 {
    font-size: 13px;
    line-height: 0px;
  }

  .section1_button_media {
    width: 121px;
    height: 34px;
    font-size: 12px;
    line-height: 15px;
    font-weight: 500;
  }
}

@media (max-width: 600px) {
  .eventPage_section2 > h3 {
    font-family: 'Montserrat Alternates';
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    display: flex;
    justify-content: center;
    margin: 40px auto;
  }
}
