.share_btn {
  font-family: 'Montserrat Alternates';
  font-weight: 500;
  font-size: 18px;
  border: none;
  background: transparent;
  cursor: pointer;
  display: flex;
  color: white;
  position: relative;
}

.popover div  {
  background: transparent;
  box-shadow: none;
}

.share {
  display: flex;
  flex-direction: column;
  align-items: center;
}


.share_btn img {
  margin-left: 14px;
}


@media (max-width:425px) {
  .share_btn {
    padding: 9px 15px;
    font-size: 14px;
  }
}