.card {
  border-radius: 10px;
  overflow: hidden;
  cursor: pointer;
}
.cardBody {
  position: relative;
}

.cardPlayIcon {
  position: absolute;
  top: 15px;
  right: 18px;
}

.cardText {
  font-family: "Mont";
  color: #ffffff;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.05) 0%,
    rgba(0, 0, 0, 0.79) 40%,
    #000000 100%
  );

  text-align: left;
  position: absolute;
  width: 100%;
  padding: 10% 10% 8% 8%;
  bottom: 0;
  left: 0;
}
.cardTitle {
  font-size: 1em;
  font-weight: 400;
  line-height: 26px;
}
.cardViewers {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
  font-size: 0.8em;
  font-weight: 300;
  line-height: 18px;
}
.cardViewers::before {
  content: "";
  width: 17px;
  height: 12px;
  margin-right: 8px;
  display: inline-block;
  background: url("../../assets/videoPage/eyeIcon.svg") no-repeat center;
  background-size: contain;
}

@media (max-width: 1075px) {
  .cardTitle {
    font-size: 0.9em;
  }
  /*.cardViewers {*/
  /*  font-size: 0.6em;*/
  /*  margin-bottom: 0;*/
  /*}*/
}
@media (max-width: 768px) {

  /*.cardViewers {*/
  /*  font-size: 0.6em;*/
  /*  margin-bottom: 0;*/
  /*}*/
}
@media (max-width: 485px) {
  .cardTitle {
  }
}
