.photoMain_intro {
  display: flex;
  padding-top: 90px;
}

.photoMain_intro_title {
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 39px;
  color: #FFB03B;
  font-family: "Montserrat Alternates", sans-serif;
}

.photoMain_intro_img {
  margin: -90px 0 0 60px;
}


.gridBlocks {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(3, 365px);
  grid-template-rows: repeat(6, 365px);
  gap: 5px;
  font-family: 'Mont';
  margin-top: 54px;
}
