.top {
  padding: 11% 4% 0px 9%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}
.topFilmBlock1 {
  position: relative;
}
.topFilmBlock2 {
  position: relative;
}
.pic1 {
  width: 100%;
  height: 100%;
}
.pic2 {
  width: 100%;
  height: 100%;
}
.tape1 {
  position: absolute;
  top: 73%;
  right: 83%;
  width: 30%;
}
.tape2 {
  width: 30%;
  position: absolute;
  top: 1%;
  right: 80%;
}
.tape3 {
  display: none;
}
.topHeader {
  margin-left: 4%;
  margin-bottom: 5%;


}
h2 {
  color: white;
  font-size: calc(21px + 10 * (100vw / 1440));
}
.topPoster {
  display: flex;
  justify-content: center;
}
.calendar{
  position: absolute;
  width: 12%;
  top: 108%;
  right: 4%;
}
@media screen and (max-width: 425px) {
  h2 {
    font-size: calc(21px + (10 + 10 * 0.7) * ((100vw - 320px) / 1440));
  }
  .topHeader {
    text-align: center;
    margin-bottom: 7%;
  }
  .top {
    padding-top: 88px;
  }
  .topFilmBlock2 {
    display: none;
  }
  .tape3 {
    width: 30%;
    position: absolute;
    top: -11%;
    right: -3%;
    display: block;
  }
  .calendar{
    top: 108%;
    right: 4%;
  }
}
