.details span {
  display: block;
}

.cards {
  max-width: 300px !important;
  min-width: 300px !important;
  height: 500px;
  margin: 15px;
  transition: all 0.7s;
}
.cardsBig {
  max-width: 300px !important;
  min-width: 300px !important;
  height: 450px;
  margin: 15px;
  transition: all 0.7s;
}
.mainDiv {
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}
.modalDiv {
  background: white;
  width: 40%;
  height: 80%;
  border-radius: 20%;
  text-align: center;
  padding-top: 55px;
  z-index: 1;
}
.modalInput {
  display: block;
  width: 80%;
  margin-top: 10px;
  padding: 20px;
}
.btnEdit {
  margin-top: 20px !important;
  background-color: var(--orange) !important;
}
.cardDiv {
  display: flex !important;
  flex-wrap: wrap !important;
  width: 100%;
  height: 100vh;
  justify-content: center;
}
.imgCard {
  cursor: pointer;
  background-size: cover;
  height: 200px !important;
  max-width: 300px;
}
.descSpan {
  max-height: 130px;
  overflow: visible;
  transition: all 0.7s;
  cursor: pointer;
}
.descSpanNorm {
  height: 60px;
  overflow: hidden;
  transition: all 0.7s;
  cursor: pointer;
}
