.photoNav {
  padding: 55px 0 0 73px;
}
.photoNav button {
  border: none;
  background: transparent;
  font-family: 'Montserrat Alternates';
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
  margin-right: 30px;
  cursor: pointer;
}