@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,400;0,600;1,600&display=swap");
@import url("http://fonts.cdnfonts.com/css/mont");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
<<<<<<< HEAD
=======
body {
  font-family: "Montserrat Alternates", sans-serif;
  /*font-family: "Mont", sans-serif;*/
}
a{
  text-decoration: none;
}

:root {
  --orange: #ff6d00;
}
>>>>>>> fb794a7d4420f2ffc25a05ce16961475d9a268d9
