.calendar_filter {
  margin-bottom: 85px;
}

.calendar_filter_btn {
  margin-right: 15px;
  padding: 12px 24px;
  background: #C9C9C9;
  border: none;
  border-radius: 10px;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #676767;
  font-family: 'Montserrat Alternates';
  cursor: pointer;
  transition: .3s;
}

.calendar_filter_btn:hover,
.calendar_filter_btn:active {
  background: #FFB03B;
  color: #000000;
}




/* Media */


@media (max-width:670px) {
  .calendar_filter {
    margin-bottom: 0;
  }
  
  .calendar_filter_btn {
    margin-top: 17px;
  }
  
}