.section2_establishments_block {
  color: white;
  max-width: 1123px;
  margin: 0 auto;
  font-family: "Mont";
}

.section2_establishments_back {
  width: 1123px;
  max-height: 689px;
  height: 61.5vw;
  width: 100%;
  background: url("../../assets/eventsImages/film.png") no-repeat;
  padding: 2.5% 7% 0% 12.33%;
  background-size: contain;
}

.section2_establishments {
  max-width: 906px;
  width: 100%;
  max-height: 635px;
  height: 100%;

  display: flex;
  justify-content: space-between;
  align-content: space-between;
  flex-wrap: wrap;
  position: relative;
}

.section2_establishment {
  position: relative;
  transition: 0.5s;
}

.section2_establishment:hover {
  transform: scale(1.1);
}

.section2_establishment_image {
  max-width: 407px;
  max-height: 308px;
  width: 100vw;
  height: 100vw;

}



.section2_establishment_text {
  position: absolute;
  bottom: 0;
  height: 139px;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.02) 0%,
    rgba(0, 0, 0, 0.79) 39.9%,
    #000000 100%
  );
  width: 100%;
  padding-left: 32px;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.section2_establishment_text div {
  display: flex;
  width: 100%;
}

.section2_establishment_text h3 {
  margin-top: 24px;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
}

.section2_establishment_text p {
  margin-bottom: 20px;
  margin-top: 5px;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
}

.section2_establishment_text img {
  margin-right: 5px;
}

.section2_establishment_date {
  display: flex;
  justify-content: center;
  font-weight: 500;
  font-size: 16px;
}

.section2_establishments_backMini {
  display: none;
}

.section2_establishment_text {
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
}

.establishment_text_views {
  margin-right: 10px;
}

@media (max-width: 1125px) {
  .section2_establishments {
    width: 100%;
    max-height: 635px;
    height: 57.2vw;

    display: flex;
    flex-wrap: wrap;
    position: relative;
    justify-content: space-between;
    align-content: space-between;
  }

  .section2_establishment {
    position: relative;
  }

  .section2_establishment_image {
    width: 36vw;
    height: 27.5vw;
  }
}

@media (max-width: 920px) {
  .section2_establishment_text {
    height: 47%;
    font-size: 13px;
    padding-left: 12px;
    list-style: none;
  }

  .section2_establishment_text h3 {
    margin-top: 14px;
  }

  .section2_establishment_text p {
    margin-bottom: 3px;
    margin-top: 2px;
  }
}

@media (max-width: 700px) {
  .section2_establishment_text {
    height: 50%;
  }

  .section2_establishment_text h3 {
    font-size: 14px;
  }

  .section2_establishment_text p {
    font-size: 14px;
  }

  .section2_establishment_date {
    font-size: 14px;
  }
}

@media (max-width: 600px) {
  .section2_establishments_back {
    display: none;
  }

  .section2_establishments_backMini {
    display: block;
    background: url("../../assets/eventsImages/iventsMini.png") no-repeat;

    width: 100%;
    padding: 5% 11.5% 4.7% 14.4%;

    background-size: contain;
    height: 128vw;
  }

  .section2_establishments {
    display: flex;

    width: 100%;
    justify-content: space-between;
    align-content: space-between;
    position: relative;
    max-height: 140vw;
    height: 119vw;
  }

  .section2_establishment_image {
    max-width: 600px;
    max-height: 600px;
    width: 74.8vw;
    height: 55.5vw;
  }

  .eventPage_section2 > h3 {
    font-size: 22px;
    line-height: 27px;

    margin: 0;
    margin-top: 60px;
    margin-bottom: 33px;
    text-align: center;
  }

  .section2_establishment_text {
    height: 45%;
    font-size: 16px;
  }
}

@media (max-width: 400px) {
  .section2_establishment_text {
    height: 50%;
    font-size: 14px;
  }

  .section2_establishment_text img {
    width: 14px;
  }
}
