.slider_card {
  overflow: hidden;
  max-width: 795px;
  margin-left: -3px;
  width: 100%;
}


#slider_card_logo {
  position: absolute;
  z-index: 2;
  max-width: 129px;
  height: auto;
  top: 35px;
  right: 35px;
}


#slider_card_img {
  width: 100%;
  mix-blend-mode: exclusion;
  opacity: 0.95;
  height: 624px;
  padding-top: 8px;
  border-radius: 15px;
}

.slider_card_image {
  background: url('../../../assets/photoPageImages/gallery-images/vinyl-cover.png') 0 0/cover no-repeat;
  height: 100%;
  width: 100%;
  overflow: hidden;
  border-radius: 10px;
  margin-left: 3px;
}



.slider_card_border {
  width: 100%;
  height: 100%;

}