.slider {
  width: 100%;
  max-width: 1440px;
  height: 630px;
  background-color: beige;
  margin: 0 auto;
  position: relative;
  display: flex;
  align-items: flex-end;
}

.slider_title_container {
  width: 240px;
  height: 120px;
  position: absolute;
  z-index: 0;
  left: 43%;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slider_title_container img {
  width: 100%;
  height: auto;
  position: absolute;
}

.slider_title {
  font-family: 'Montserrat Alternates';
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 39px;
  text-align: center;
  /* identical to box height */

  color: black;
}

.carousel {
  width: 100%;
  height: 88%;
  position: relative;
  overflow: hidden;
}

.card {
  position: absolute;
  left: 20.2%;
  transition: all 0.5s;
  user-select: none;
}

.hiddenLeft {
  transform: translateX(-130%) scale(0.6);
}

.left {
  transform: translateX(-60%) scale(0.7);
}

.left:hover {
  cursor: pointer;
}

.active {
}

.right {
  transform: translateX(100%) scale(0.8);
}

.right:hover {
  cursor: pointer;
}

.hiddenRight {
  transform: translateX(170%) scale(0.7);
}
