.details span{
    display: block;
}

.cards{
    min-width: 300px !important;
    margin: 15px;
    max-height: 350px !important;
}
.mainDiv{
    position: absolute;
    top:0%;
    left: 0%;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
}
.modalDiv{
    background: white;
    width: 30%;
    height: 50%;
    border-radius: 20%;
    text-align: center;
}
.modalInput{
    display: block;
    width: 80%;
    margin-top: 10px !important;
}
.modalInput:nth-child(1){
    margin-top: 60px !important;
}
.btnEdit{
    margin-top: 20px !important;
}
.cardDiv{
    display: flex !important;
    flex-wrap: wrap !important;
    width: 100%;
    height: 100vh;
    justify-content: center;
}
.btnNav{
    margin: 20px 10px !important;
    background: var(--orange) !important;
}
.imgCard{
    max-height: 200px !important;
    overflow: hidden !important;
    cursor: pointer;
}