.container {
  width: 100%;
  max-width: 1440px;
  height: 330px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  /* background-color: black; */
}

.arrow_div {
  width: 69.99px;
  height: 69.62px;
  position: absolute;
  left: 6.6%;
  transform: translateX(-6.6%);
  bottom: 62px;
}

.arrow_div:hover {
  cursor: pointer;
}

.arrow_div img {
  width: 100%;
  height: auto;
}

.image_div {
  width: 158.16px;
  height: 121.16px;
}

@media (max-width: 700px) {
  .image_div {
    width: 103.84px;
    height: 78.85px;
  }
}

.image_div img {
  width: 100%;
  height: auto;
}
